.promotions {
    color: white;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-image: linear-gradient(to right, #051421, #22403a);
}

.promo__icons > img {
    width: 300px;
}

.promo__details > h4 {
    color: rgb(56, 145, 147);
}

.promo__details > p {
    color: white;
    font-size: xx-large;
    font-weight: 300;
}

button {

    color: white !important;
    border: 2px solid white !important;
    margin-top: 8px;
    text-transform: inherit;
    font-weight: 600 !important;
    padding: 15px !important;
}

button:hover {
    border-color: gray !important;
    color: gray !important;
}