.videoCard {
    color: white;
    width: 500px;
    height: 400px;
    padding: 20px;
    transition: transform 100ms ease-out;
}

.videoCard:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.videoCard > img {
    height: 300px;
    object-fit: contain;
    width: 500px;
}

.videoCard > h2 {
    padding-top: 8px;
    opacity: 0.7;
}

.videoCard:hover > h2 {
    opacity: 1;
}
.videoCard > p {
    opacity: 0.7;
}

.videoCard:hover > p {
    opacity: 1;
}

.videoCard__stats {
    display: none;
}

.videoCard:hover > .videoCard__stats {
    display: inline;
    align-items: center;
}